<h1>Login Cubos</h1>
<form method="post">
    <label>Email</label>
    <input type="text" class="form-control" name="email" />
    <label>Password</label>
    <input type="text" class="form-control" name="password" />
    <button class="btn btn-dark">
        Iniciar Sesión
    </button>
</form>